<table class="px2-table" style="width: 100%;">
{% for key, value in page_info %}
	<tr>
		<th>{{ key }}</th>
		{% if (key == 'path' or key == 'logical_path') %}
			<td>{{ value }}<input type="hidden" name="{{ key }}" value="{{ value }}" /></td>
		{% else %}
			<td><input type="text" name="{{ key }}" value="{{ value }}" class="px2-input" /></td>
		{% endif %}
	</tr>
{% endfor %}
</table>
