{% extends "/layouts/plain.twig" %}

{% block title %}{{ title }} - コンテンツ編集 - Pickles 2 Admin Console{% endblock %}
{% block viewport %}
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
{% endblock %}
{% block head %}
	{{ parent() }}

	{# Ace Editor #}
	<script src="{{ path_client_resources }}ace/ace.js?t={{ 'now'|date('U') }}"></script>

	{# CodeMirror #}
	<link rel="stylesheet" href="{{ path_client_resources }}codemirror/lib/codemirror.css?t={{ 'now'|date('U') }}" />
	<link rel="stylesheet" href="{{ path_client_resources }}codemirror/theme/ambiance.css?t={{ 'now'|date('U') }}" />
	<link rel="stylesheet" href="{{ path_client_resources }}codemirror/theme/mdn-like.css?t={{ 'now'|date('U') }}" />
	<link rel="stylesheet" href="{{ path_client_resources }}codemirror/theme/monokai.css?t={{ 'now'|date('U') }}" />
	<link rel="stylesheet" href="{{ path_client_resources }}codemirror/theme/eclipse.css?t={{ 'now'|date('U') }}" />
	<link rel="stylesheet" href="{{ path_client_resources }}codemirror/theme/elegant.css?t={{ 'now'|date('U') }}" />
	<script src="{{ path_client_resources }}codemirror/lib/codemirror.js?t={{ 'now'|date('U') }}"></script>
	<script src="{{ path_client_resources }}codemirror/mode/xml/xml.js?t={{ 'now'|date('U') }}"></script>
	<script src="{{ path_client_resources }}codemirror/mode/javascript/javascript.js?t={{ 'now'|date('U') }}"></script>
	<script src="{{ path_client_resources }}codemirror/mode/css/css.js?t={{ 'now'|date('U') }}"></script>
	<script src="{{ path_client_resources }}codemirror/mode/sass/sass.js?t={{ 'now'|date('U') }}"></script>
	<script src="{{ path_client_resources }}codemirror/mode/markdown/markdown.js?t={{ 'now'|date('U') }}"></script>
	<script src="{{ path_client_resources }}codemirror/mode/php/php.js?t={{ 'now'|date('U') }}"></script>
	<script src="{{ path_client_resources }}codemirror/mode/htmlmixed/htmlmixed.js?t={{ 'now'|date('U') }}"></script>

	{# Keypress #}
	<script src="{{ path_client_resources }}dmauro-Keypress/keypress-2.1.5.min.js?t={{ 'now'|date('U') }}"></script>

	{# remote-finder #}
	<link rel="stylesheet" href="{{ path_client_resources }}remote-finder/remote-finder.css?t={{ 'now'|date('U') }}" />
	<script src="{{ path_client_resources }}remote-finder/remote-finder.js?t={{ 'now'|date('U') }}"></script>

	{# common-file-editor #}
	<link rel="stylesheet" href="{{ path_client_resources }}common-file-editor/common-file-editor.css?t={{ 'now'|date('U') }}" />
	<script src="{{ path_client_resources }}common-file-editor/common-file-editor.js?t={{ 'now'|date('U') }}"></script>

	{% for path_px2ce_css in px2ce_res.css %}
	<link rel="stylesheet" href="{{ path_client_resources }}edit-content/{{ path_px2ce_css }}?t={{ 'now'|date('U') }}" />
	{% endfor %}
	{% for path_px2ce_js in px2ce_res.js %}
	<script src="{{ path_client_resources }}edit-content/{{ path_px2ce_js }}?t={{ 'now'|date('U') }}"></script>
	{% endfor %}

	<style>
		html, body {
			padding: 0; margin: 0;
			height: 100%;
		}
		body {
			display: flex;
			justify-content: center;
			align-items: stretch;
			align-content: stretch;
		}
		.pickles2-contents-editor--toolbar {
			box-sizing: border-box; /* TODO: px2ceの側に書くべき */
		}
		#cont-px2ce-canvas {
			width: 100%;
			height: 100%;
		}
	</style>
{% endblock %}
{% block content %}
	<div id="cont-px2ce-canvas"></div>
{% endblock %}
{% block foot %}
	<script type="text/javascript">

		(function(){
			var app_mode = "web";
			var page_path = "{{ page_path | e("js") }}";
			var theme_id = "{{ theme_id | e("js") }}";
			var layout_id = "{{ layout_id | e("js") }}";
			var target_mode = "{{ target_mode | e("js") }}";
			// .envよりプレビューサーバーのURLを取得
			var preview_url = window.location.origin;
			var resizeTimer;
			var backto = "{{ backto | e("js") }}";

			if( page_path.length ){
				target_mode = 'page_content';
			}else if( theme_id && layout_id ){
				target_mode = 'theme_layout';
				page_path = '/'+theme_id+'/'+layout_id+'.html';
			}

			function base64_encode(orig) { return new Promise(function(rlv){
				var r = new FileReader();
				r.onload = function(){
					var offset = r.result.indexOf(",");
					rlv(r.result.slice(offset+1));
				};
				r.readAsDataURL(new Blob([orig]));
			}); }

			// Px2CE の初期化
			var pickles2ContentsEditor = new Pickles2ContentsEditor(); // px2ce client
			pickles2ContentsEditor.init(
				{
					'target_mode': target_mode,
					'page_path': page_path ,
					'elmCanvas': document.getElementById('cont-px2ce-canvas'),
					'preview':{
						'origin': preview_url// プレビュー用サーバーの情報を設定します。
					},
					'lang': (window.clover_config.lang ? window.clover_config.lang : 'ja'), // language
					'appearance': window.clover_config.appearance || "auto",
					'gpiBridge': function(input, callback){
						base64_encode( JSON.stringify(input) )
							.then((encodedInput) => {
								$.ajax({
									"url": '?PX=px2dthelper.px2ce.gpi',
									"method": 'post',
									'data': {
										'appMode': app_mode,
										'target_mode': target_mode,
										'data': encodedInput,
										'ADMIN_USER_CSRF_TOKEN': $('meta[name="csrf-token"]').attr('content'),
									},
									"cache": false,
									"timeout": 30000,
									"error": function(error){
										var result = null;
										console.error('--- GPI Response Error:', input, typeof(error), error);
										try{
											result = JSON.parse(error.responseText);
										}catch(exception){
											console.error( exception );
										}

										callback(result);
									},
									"success": function(data){
										callback(data);
									},
									"complete": function(){
										window.cloverUtils.autoCommit();
									},
								});
							});
						return;
					},
					'complete': function(){
						var item = 'content:'+page_path;
						if( target_mode == 'theme_layout' ){
							item = 'theme:'+theme_id+'/'+layout_id;
						}

						$.ajax({
							"url": '?PX=admin.api.checkout.release',
							"method": 'post',
							'data': {
								'item': item,
								'ADMIN_USER_CSRF_TOKEN': $('meta[name="csrf-token"]').attr('content'),
							},
							"cache": false,
							"timeout": 30000,
							"error": function(error){
								alert('Failed to unlock.');
								console.error('--- Failed to unlock:', input, typeof(error), error);
							},
							"success": function(res){
								var data = JSON.parse(res);
								if(!data.result){
									alert('Failed to unlock.');
								}
							},
							"complete": function(){
								if( target_mode == 'theme_layout' || backto == 'close' ){
									window.close();
									return;
								}
								if( backto == 'preview' ){
									window.location.href = '?';
									return;
								}
								window.location.href = '?PX=admin.page_info';
							},
						});
					},
					'clipboard': {
						'set': function( data, type, event, callback ){
							localStorage.setItem('app-burdock-virtualClipBoard', data);
							if( callback ){
								callback();
							}
						},
						'get': function( type, event, callback ){
							var rtn = localStorage.getItem('app-burdock-virtualClipBoard');
							if( callback ){
								callback(rtn);
								return false;
							}
							return rtn;
						}
					},
					'onOpenFilesDirectory': function(){
						const $body = document.createElement('div');
						const modalObj = px2style.modal({
							"title": "Resource files",
							"body": $body,
							"width": "100%",
							"height": "100%",
							"contentFill": true,
						});
						window.cloverUtils.openInFinder(
							{
								'type': 'contents_resources',
								'page_path': page_path,
							},
							$body,
							'/',
							function(res){
								callback(res);
							}
						);
					},
					'onClickContentsLink': function( uri, data ){
						// プレビュー上のリンクをクリックしたときのイベント処理
						console.info('Open URL: ', uri, data);
						if( (data.tagName == 'a' || data.tagName == 'form') && uri.match(/^https?\:\/\//) ){
							if( confirm('リンクを開きますか？'+"\n\n"+uri) ){
								window.open(uri);
							}
						}
					},
					'onMessage': function( message ){
						// ユーザーへ知らせるメッセージを表示する
						console.info('message:', message);
						px2style.flashMessage(message);
					}
				},
				function(){
					// コールバック
					// 初期化完了！
					console.info('Standby!');

				}
			);

			$(window).on('resize', function(){
				clearTimeout(resizeTimer);
				resizeTimer = setTimeout(function(){
					if(pickles2ContentsEditor.redraw){
						pickles2ContentsEditor.redraw();
					}
				}, 500);
				return;
			});
		})();
	</script>
{% endblock %}
