{% extends "/layouts/auth.twig" %}

{% block title %}管理ユーザー登録{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<p>はじめに、管理者アカウントを登録してください。</p>
<form action="" method="post">
	<div>Name: <input type="text" name="ADMIN_USER_NAME" value="{{ ADMIN_USER_NAME }}" class="px2-input" /></div>
	<div>ID: <input type="text" name="ADMIN_USER_ID" value="{{ ADMIN_USER_ID }}" class="px2-input" /></div>
	<div>PW: <input type="password" name="ADMIN_USER_PW" value="" class="px2-input" /></div>
	<div>Language: <select name="ADMIN_USER_LANG" class="px2-input">
        <option value="en"{{ ( ADMIN_USER_LANG == "en" ? ' selected="selected"' : "" ) }}>English</option>
        <option value="ja"{{ ( ADMIN_USER_LANG == "ja" ? ' selected="selected"' : "" ) }}>Japanese</option>
    </select></div>
	<div>E-mail: <input type="email" name="admin_user_email" value="{{ admin_user_email }}" class="px2-input" /></div>
	<div><button type="submit" class="px2-btn px2-btn--primary">作成する</button></div>
	<input type="hidden" name="ADMIN_USER_CSRF_TOKEN" value="{{ csrf_token }}" />
</form>
{% endblock %}
{% block foot %}
{% endblock %}
