{% extends "/layouts/auth.twig" %}

{% block title %}管理ユーザー登録{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<p>はじめに、管理者アカウントを登録してください。</p>

{% if message %}<p>{{message}}</p>{% endif %}

<form action="" method="post">
	<div>
		Name:
		<div><input type="text" name="ADMIN_USER_NAME" value="{{ ADMIN_USER_NAME }}" class="px2-input px2-input--block" /></div>
	</div>
	<div>
		ID:
		<div><input type="text" name="ADMIN_USER_ID" value="{{ ADMIN_USER_ID }}" class="px2-input px2-input--block" /></div>
		<div>半角英数字、ハイフン、アンダースコア が使えます。</div>
	</div>
	<div>
		Password:
		<div><input type="password" name="ADMIN_USER_PW" value="" class="px2-input px2-input--block" /></div>
	</div>
	<div>Language:
		<div>
		<select name="ADMIN_USER_LANG" class="px2-input px2-input--block">
			<option value="en"{{ ( ADMIN_USER_LANG == "en" ? ' selected="selected"' : "" ) }}>English</option>
			<option value="ja"{{ ( ADMIN_USER_LANG == "ja" ? ' selected="selected"' : "" ) }}>Japanese</option>
		</select></div>
	</div>
	<div>E-mail:
		<div><input type="email" name="admin_user_email" value="{{ admin_user_email }}" class="px2-input px2-input--block" /></div>
	</div>
	<div>
		<button type="submit" class="px2-btn px2-btn--primary">作成する</button>
	</div>
	<input type="hidden" name="ADMIN_USER_CSRF_TOKEN" value="{{ csrf_token }}" />
</form>
{% endblock %}
{% block foot %}
{% endblock %}
