{% extends "/layouts/auth.twig" %}

{% block title %}LOGIN{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

{% if error_message %}
	<p class="px2-error">{{ error_message }}</p>
{% endif %}
<div id="login-ssl-warning" style="display:none;"></div>
<form action="" method="post" id="login-form">
	<div class="auth-form">
		<div class="auth-form__unit">
			<div class="auth-form__label">{{ lb.get('ui_label.user_id') }}:</div>
			<div class="auth-form__input"><input type="text" name="ADMIN_USER_ID" value="{{ ADMIN_USER_ID }}" class="px2-input px2-input--block" /></div>
		</div>
		<div class="auth-form__unit">
			<div class="auth-form__label">{{ lb.get('ui_label.user_pw') }}:</div>
			<div class="auth-form__input"><input type="password" name="ADMIN_USER_PW" value="" class="px2-input px2-input--block" /></div>
		</div>
		<div class="auth-form__buttons">
			<button type="submit" class="px2-btn px2-btn--primary">{{ lb.get('ui_label.login') }}</button>
		</div>
		<div class="auth-form__backto">
			<p><a href="{{ url_backto }}">{{ lb.get('ui_label.back') }}</a></p>
		</div>
		<input type="hidden" name="ADMIN_USER_FLG" value="1" />
		<input type="hidden" name="ADMIN_USER_CSRF_TOKEN" value="{{ csrf_token }}" />
		<input type="hidden" id="session-cookie-secure" value="{{ session_cookie_secure }}" />
	</div>
</form>
{% endblock %}
{% block foot %}
<script>
(function(){
	var secureCookie = parseInt(document.getElementById('session-cookie-secure').value, 10);
	var isHttp = (location.protocol === 'http:');
	var warningEl = document.getElementById('login-ssl-warning');

	if(secureCookie === 1 && isHttp){
		warningEl.className = 'px2-error';
		warningEl.textContent = {{ lb.get('login_warning.ssl_required') | json_encode | raw }};
		warningEl.style.display = '';
	}else if(secureCookie === 0 && !isHttp){
		warningEl.className = 'px2-error';
		warningEl.textContent = {{ lb.get('login_warning.secure_cookie_required') | json_encode | raw }};
		warningEl.style.display = '';
		var form = document.getElementById('login-form');
		var inputs = form.querySelectorAll('input, button, select, textarea');
		for(var i = 0; i < inputs.length; i++){
			inputs[i].disabled = true;
		}
	}
})();
</script>
{% endblock %}
