<div class="px2-form-input-list">
	<ul class="px2-form-input-list__ul">
{% for key, value in page_info %}
	<li class="px2-form-input-list__li">
		<div class="px2-form-input-list__label"><label for="form-element--{{ key }}">{{ sitemapDefinition[key].label or key }}</label></div>
		{% if (lockedField[key] == 'lock') %}
			<div class="px2-form-input-list__input">
				{{ value }}<input type="hidden" name="{{ key }}" value="{{ value }}" />
			</div>
		{% else %}
			<div class="px2-form-input-list__input">
				<input type="text" id="form-element--{{ key }}" name="{{ key }}" value="{{ value }}" class="px2-input px2-input--block" />
			</div>
		{% endif %}
	</li>
{% endfor %}
	</ul>
</div>
