<div class="px2-form-input-list">
	<ul class="px2-form-input-list__ul">
		<li class="px2-form-input-list__li">
			<div class="px2-form-input-list__label"><label for="form-element--name">{{ main.lb.get('ui_label.site_profile') }}</label></div>
			<div class="px2-form-input-list__input">
				{% if ( parsedConfig.values.name is defined ) %}
				<input type="text" id="form-element--name" name="name" value="{{ parsedConfig.values.name|e }}" class="px2-input px2-input--block" />
				{% else %}
				{{ pxConfig.name|e }}
				{% endif %}
			</div>
		</li>
		<li class="px2-form-input-list__li">
			<div class="px2-form-input-list__label"><label for="form-element--tagline">{{ main.lb.get('ui_label.tag_line') }}</label></div>
			<div class="px2-form-input-list__input">
				{% if ( parsedConfig.values.tagline is defined ) %}
				<input type="text" id="form-element--tagline" name="tagline" value="{{ parsedConfig.values.tagline|e }}" class="px2-input px2-input--block" />
				{% else %}
				{{ pxConfig.tagline|e }}
				{% endif %}
			</div>
		</li>
		<li class="px2-form-input-list__li">
			<div class="px2-form-input-list__label"><label for="form-element--domain">{{ main.lb.get('ui_label.domain') }}</label></div>
			<div class="px2-form-input-list__input">
				{% if ( parsedConfig.values.domain is defined ) %}
				<input type="text" id="form-element--domain" name="domain" value="{{ parsedConfig.values.domain|e }}" class="px2-input px2-input--block" />
				{% else %}
				{{ pxConfig.domain|e }}
				{% endif %}
			</div>
		</li>
		<li class="px2-form-input-list__li">
			<div class="px2-form-input-list__label"><label for="form-element--copyright">{{ main.lb.get('ui_label.copyright') }}</label></div>
			<div class="px2-form-input-list__input">
				{% if ( parsedConfig.values.copyright is defined ) %}
				<input type="text" id="form-element--copyright" name="copyright" value="{{ parsedConfig.values.copyright|e }}" class="px2-input px2-input--block" />
				{% else %}
				{{ pxConfig.copyright|e }}
				{% endif %}
			</div>
		</li>
	</ul>
</div>
